<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongyan.wdcf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".base.WDApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".business.main.MainActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".business.splash.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.account.register.RegisterActivity" />
        <activity android:name="com.hongyan.base.webview.BaseWebViewActivity" />
        <activity
            android:name="com.hongyan.TestActivity"
            android:launchMode="singleTask" />
        <activity android:name=".business.account.select.SelectIdentifyActivity" />
        <activity android:name=".business.account.login.LoginActivity" />
        <activity android:name=".business.account.user.UserInfoActivity" />
        <activity android:name=".business.account.feedback.FeedbackActivity" />
        <activity android:name=".business.account.setting.SettingActivity" />
        <activity android:name=".business.account.password.PasswordActivity" />
        <activity android:name=".business.account.bankcard.BankCardListActivity" />
        <activity android:name=".business.account.bankcard.BindBankCardActivity" />
        <activity android:name=".business.account.bindteacher.BindTeacherActivity" />
        <activity android:name=".business.account.modifyloginpassword.ModifyLoginPasswordActivity" />
        <activity android:name=".business.account.modifytradepassword.ModifyTradePasswordActivity" />
        <activity android:name=".business.account.order.OrderListActivity" />
        <activity android:name=".business.account.share.UserShareActivity" />
        <activity android:name=".business.customer.CustomerListActivity" />
        <activity android:name=".business.subscribe.SubscribeActivity" />
        <activity android:name=".business.account.invite.InviteActivity" />
        <activity android:name=".business.teacher.addrecord.AddRecordActivity" />
        <activity android:name=".business.product.fixed.FixedProductListActivity" />
        <activity android:name=".business.product.equity.SimuListActivity" />
    </application>

</manifest>